<!DOCTPYE html>
<html data-theme="light">

<head>
    <title>
        Post Ads
    </title>

    <link rel="stylesheet" href="css/adpost.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
</head>

<body>
    <form>
        <div class="post">

            <div class="title">Post Ads</div>

            <div class="fields">
                <label class="label">*Important</label><br>
                <div class="checkbox">

                    For Reselling <input type="checkbox" name="Reselling">

                </div><br>
                <label class="label">*Books title</label>
                <div class="category"><input type="username" class="user-input" placeholder="*Title for book" /></div>
                <label class="label">-ISBN Number</label>
                <div class="category"><input type="tel" class="user-input" placeholder="*ISBN Number" /></div>
                <label class="label">-Number of Pages</label>
                <div class="category"><input type="tel" class="user-input" placeholder="*Number of pages" /></div>

                <label class="label">-Choose Catgeroy</label>
                <div class="cat"><input type="text" class="user-input" name="state" list="categories" placeholder="*Category" />
                    <datalist id="categories">
                    <option value="School">
                    <option value="College">
                  </datalist></div>
                <label class="label">-Description</label>
                <div class="des">

                    <textarea id="w3review" name="w3review" rows="10" cols="54"></textarea>
                </div>

                <label class="label">-Select image:</label>
                <div class="img">

                    <input type="file" accept="image/*"><br>
                    <input type="file" accept="image/*">
                </div>
                <div class="add">
                    <label class="label">-State</label>
                    <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                        <div class="select-wrap">

                            <select class="form-control rounded" name="" id="">
                            <option value="">  State</option>
                            <option value="">  MadhyaPradesh</option>
                            <option value="">  Haryana</option>
                            <option value=""> Punjab</option>
                            <option value=""> UttarPradesh</option>
                            <option value="">Diploma (I.T.I)</option>
                            <option value="">Arts</option>
                            <option value="">Commerce</option>
                        </select>
                        </div>
                    </div><br>
                    <label class="label">-District</label>
                    <div class="col-lg-12 mb-4 mb-xl-0 col-xl-3">
                        <div class="select-wrap">

                            <select class="form-control rounded" name="" id="">
                            <option value="">District</option>
                            <option value="">School</option>
                            <option value="">Engineering</option>
                            <option value="">Medical</option>
                            <option value="">Competitive Exams</option>
                            <option value="">Diploma (I.T.I)</option>
                            <option value="">Arts</option>
                            <option value="">Commerce</option>
                        </select>
                        </div>
                    </div>
                    <br>


                    <label class="label ">-Locality</label>
                    <div class="des ">

                        <textarea id="w3review " name="w3review " rows="3 " cols="54 "></textarea>
                    </div>
                </div>



                <label class="label ">-set price</label>
                <div class="category "><input type="tel " class="user-input " placeholder="*Price- ₹ " /></div>


            </div>
            <button class="signin-button " ; input-type="submit ">Submit</button>

        </div>

    </form>
    <script src="adpost.js "></script>

</body>

</html>